.idea/
.digests
/.gradle/
*/build/
/build/
/*/*/build/
/*/*/*/build/
/*/*/*/*/build/
/input/
/output/
run/
fabric/.gradle/*
fabric/.gradle/
/.vscode
/velocity/bin
/velocity/injector/bin
/loader/bin
/core/bin
/api/bin
/velocity/libraries/*
!/velocity/libraries/README.md
/velocity/libraries/Velocity/
